.contact {
    position: absolute;
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
    bottom: 0;
    left: 0;
    width: 100%;
    transform: translateY(0px);
    opacity: 1;
    transition: 0.4s;
    .contact-image {
        width: 50px;
    }

}